* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header p {
    background-color: #231f1f;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 15px;
}

.navigation a {
    display: inline;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: rgb(45, 42, 42);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}


.container main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
}

.main-cont {
    background-color: rgb(197, 197, 197);
}

aside {
    padding: 0 25px;
    text-align: cent;
}

.footer {
    background-color: #181616;
    color: white;
    padding-top: 10px;
    padding-bottom: 100px;

}