* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 3fr 1fr;
}

header {
    grid-column: span 2;
}

header p {
    background-color: #231f1f;
    color: white;
    padding: 15px 0px 50px 15px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 15px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: rgb(45, 42, 42);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Main Content */

main {
    display: grid;
    grid-template-columns: 4fr 1fr; /* Ensures main content is larger */
    grid-column: span 2;
}
.main-cont {
    background-color: rgb(197, 197, 197);
    padding-top: 15px;
    padding-left: 15px;
}

aside {
    background-color: antiquewhite;
    height: 100%;
    padding: 15px;
}

.floor {
    grid-column: span 2;
    background-color: #181616;
    color: white;
    padding: 15px 0px 10% 0px;
    text-align: center;
}