* {
    margin: 0;
    padding: 0;
}

header p {
    background-color: #231f1f;
    color: white;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 15px;
}

.navigation a {
    display: inline;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: rgb(45, 42, 42);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}


.container main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
}

.main-cont {
    background-color: rgb(197, 197, 197);
    padding-top: 15px;
    padding-left: 15px;
}

aside {
    margin-right: 100px;
    margin-left: 40px;
    padding: 15px 0px 0px 0px;
    text-align: left;
}

.floor{
    background-color: #181616;
    color: white;
    padding: 15px 0px 15% 0px;
    text-align: center;

}